.App {
    display: flex;
    grid-gap: 30px;
    gap: 30px;
    height: 100vh;
    padding: 30px;

    .Viewer {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 50%;
        overflow-y: scroll;
        height: 100%;
    }

    label, input, select, button {
        display: block;
        margin: 5px 0px;
        width: 100%;
    }

    button {
        background-color: white;
        border: 1px solid #bbbbbb;
        font-size: 1em;
        border-radius: 5px;
        padding: 10px 10px;
        box-shadow: 2px 2px 2px 0px rgb(0 0 0 / 10%), inset -2px -2px 2px 0px rgb(0 0 0 / 10%);
        cursor: pointer;
    }

    button:active {
        background-color: rgb(250, 250, 250);
        box-shadow: 2px 2px 2px 0px rgb(0 0 0 / 10%), inset 0px 0px 4px 0px rgb(0 0 0 / 20%);
    }

    input, select {
        border: 1px solid #bbbbbb;
        border-radius: 5px;
        padding: 5px 10px;
        box-shadow: inset 2px 2px 2px 0px rgb(0 0 0 / 10%);
    }

    input[type="checkbox"] {
        width: unset;
    }
}