body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  max-width: 900px;
  margin: auto;
}

@media (max-height: 760px) {
  #root {
    max-width: 800px;
  }
}

@media (max-height: 680px) {
  #root {
    max-width: 730px;
  }
}

* {
  box-sizing: border-box;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.embossy {
  box-shadow: 2px 2px 2px 0px rgb(0 0 0 / 10%), inset -2px -2px 2px 0px rgb(0 0 0 / 10%);
  background-color: white;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
}

button.embossy:active {
  background-color: rgb(250, 250, 250);
  box-shadow: 2px 2px 2px 0px rgb(0 0 0 / 10%), inset 0px 0px 4px 0px rgb(0 0 0 / 20%);
}