.ModuleEditor {
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 10%);

    .title {
        margin: 10px;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
    }

    .title:hover {
        text-decoration: underline;
    }

    .editor-field {
        margin: 10px;
    }
}