.ModuleEditor {
    position: relative;
    background-color: white;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 0px rgb(0 0 0 / 10%), inset -2px -2px 2px 0px rgb(0 0 0 / 10%);
    cursor: grab;

    .title {
        margin: 10px;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
        display: inline-block;
        border-bottom: 2px solid rgba(0, 0, 0, 0);
    }

    .title:hover {
        border-bottom: 2px solid black;
    }

    .editor-field {
        margin: 10px;
    }

    .remove-btn {
        user-select: none;
        position: absolute;
        padding: 10px;
        cursor: pointer;
        transform: rotate(45deg);
        font-size: 2em;
        font-weight: bold;
        top: -9px;
        right: 0px;
        color: rgb(199, 199, 199);
    }

    .remove-btn:hover {
        color: red;
    }

    &:not(:hover) .remove-btn {
        display: none;
    }
}